* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    background-color: var(--bodyBackground);
    color: var(--color);
}
.navCon {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 7%);
    align-items: center;
    background-color: var(--navBackground);
}
.nav {
    font-weight: 700;
}
.navNav {
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}
.filter {
    display: flex;
    padding: 30px 50px;
    justify-content: space-between;
}
.search {
    position: relative;
}
.search div,.search input {
    position: absolute;
    top: 0;
    left: 0;
}
.search input {
    z-index: 1;
    border: none;
    padding: 10px 5px;
    background-color: var(--navBackground);
    padding-left: 80px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 7%);
}
.search div {
    z-index: 2;
    margin-left: 20px;
    margin-top: 10px;
}
::placeholder {
    color: var(--color);
}
.select {
    background-color: var(--navBackground);
    width: 200px;
    border: none;
    padding: 10px 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 7%);
}

.card-container {
    min-height: 65vh !important;
    padding: 50px;
}
.card {
    min-width: 250px;
    padding: 20px 20px;
}
.span {
    font-weight: 700;
}
.flag {
    height: 150px;
}
.loader{
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:450px){
    .filter {
        display: flex;
        flex-direction:column;
        margin-bottom: 40px;
    }
    .search input{
        width: 300px;
    }
    .search div,.search input {
        position: absolute;
        top: 0;
        left: 0;
    }
    .search {
        position: relative;
    }
    .select {
        width: 100px;
        position: absolute;
        top: 180px;
    }
    .navCon {
        padding: 30px 20px;
        font-size: 1rem;
    }
    .navNav {
        font-size: 1rem;
    }
} 