:root {
    --navBackground: white;
    --bodyBackground: hsl(0, 0%, 98%);
    --color: black;
}
[data-theme='dark'] {
    --navBackground: hsl(209, 23%, 22%);
    --bodyBackground: hsl(207, 26%, 17%);
    --color: white;
}